<!DOCTYPE html>
<html>
<head>
  <title>RD challenge accepted by Cawe Coy :)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr>
<p>
	<a href="../client">Access a client sample here</a>
</p>
</body>
</html>
